// settings main
$body_color:#000;
$body_bg:#fff;
$placeholder_color:#fdfdfd;
$selection_bg:#2600ff;
$selection_color:#fff;
$site_font_size:16px;
$white_color: #fff;
$dark_color: #000;
$white_color-deep: #f6f6f6;
$site_line_height:1.2;
// $default_font: 'Roboto Condensed', sans-serif;
// $default_font: 'Hind', sans-serif;
$default_font: 'Montserrat', sans-serif;
$link_color:#2600ff;
$link_hover_color:#2600ff;