		<div class="footer">
			<div class="wrapped">
				<div class="holder">
					<div class="container">
						<div class="column">
							<div class="footer_logo">
								<a href="#">
									<img src="images/logo.png" alt="">
								</a>
							</div>
							<div class="social">
								<div class="item">
									<a href="#">
										<i class="icon-instagram"></i>
									</a>
								</div>
								<div class="item">
									<a href="#">
										<i class="icon-twitter"></i>
									</a>
								</div>
								<div class="item">
									<a href="#">
										<i class="icon-facebook"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="column second">
							<div class="list_wrapped">
								<ul class="list">
									<li class="item">
										<a href="#">Terms &amp; Conditions</a>
									</li>
									<li class="item">
										<a href="#">Privacy Policy</a>
									</li>
									<li class="item">
										<a href="#">DMCA</a>
									</li>
									<li class="item">
										<a href="#">2257</a>
									</li>
								</ul>
								<ul class="list">
									<li class="item">
										<a href="#">Content Partners</a>
									</li>
									<li class="item">
										<a href="#">Advertise</a>
									</li>
									<li class="item">
										<a href="#">Webmasters</a>
									</li>
									<li class="item">
										<a href="#">Model Payment Program</a>
									</li>
									<li class="item">
										<a href="#">Press</a>
									</li>
								</ul>
								<ul class="list">
									<li class="item">
										<a href="#">Pornhub Blog</a>
									</li>
									<li class="item">
										<a href="#">Insights Blog</a>
									</li>
									<li class="item">
										<a href="#">Sexual Wellness Center</a>
									</li>
									<li class="item">
										<a href="#">Mobile / Tablet</a>
									</li>
									<li class="item">
										<a href="#">Visually Impaired</a>
									</li>
									<li class="item">
										<a href="#">More</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer_bottom">
					<div class="container">
						<div class="text">Users are prohibited from posting any material depicting individuals under the age of 18. ALL RIGHTS
							RESERVED.
							Reproduction in any form is forbidden.</div>
						<div class="copy">Copyright &copy; 2017 PunishBang.com</div>
					</div>
				</div>
			</div>
			<button type="button" class="sticky_filter onClick">
				<i class="icon-params"></i>
			</button>
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
		<script src="js/assets.js"></script>
		<script src="js/main.js"></script>
	</div>
</body>
</html>