{{> header pageTitle="Zzgays"}}
<div class="main view_holder">
	<div class="row_container">
		<div class="dark-holder_top">
			<div class="heading">
				<h2 class="title">Categories Alphabetically</h2>
				<div class="heading_buttons">
					<div class="drop_sorting">
						<button type="button" class="btn btnSort">
							<b>
								<span>Alphabetically</span>
								<i class="icon-arrow-down"></i>
							</b>
						</button>
						<div class="dropabble">
							<a href="#" class="item">Alphabetically</a>
							<a href="#" class="item">Top rated</a>
							<a href="#" class="item">Most viewed</a>
						</div>
					</div>
					<a href="#" class="btn-dark" data-hide='.dark-holder_top'>
						Hide Thumbs
					</a>
				</div>
			</div>
			<div class="slider slider-categories">
				<div class="item">
					<div class="thumb thumb-high">
						<a href="#" class="th">
							<div class="wrap_image">
								<img class="absolute-img" src="images/content/category.jpg" alt="">
							</div>
							<div class="tools">
								<div class="title">RealityKings</div>
								<div class="thumb_video-count">
									<i class="icon-cinema"></i>
									343
								</div>

							</div>
						</a>
					</div>
				</div>
				<div class="item">
					<div class="thumb thumb-high">
						<a href="#" class="th">
							<div class="wrap_image">
								<img class="absolute-img" src="images/content/category.jpg" alt="">
							</div>
							<div class="tools">
								<div class="title">Hottest Today</div>
								<div class="thumb_video-count">
									<i class="icon-cinema"></i>
									343
								</div>

							</div>
						</a>
					</div>
				</div>
				<div class="item">
					<div class="thumb thumb-high">
						<a href="#" class="th">
							<div class="wrap_image">
								<img class="absolute-img" src="images/content/category.jpg" alt="">
							</div>
							<div class="tools">
								<div class="title">RealityKings</div>
								<div class="thumb_video-count">
									<i class="icon-cinema"></i>
									343
								</div>

							</div>
						</a>
					</div>
				</div>
				<div class="item">
					<div class="thumb thumb-high">
						<a href="#" class="th">
							<div class="wrap_image">
								<img class="absolute-img" src="images/content/category.jpg" alt="">
							</div>
							<div class="tools">
								<div class="title">Hottest Today</div>
								<div class="thumb_video-count">
									<i class="icon-cinema"></i>
									343
								</div>

							</div>
						</a>
					</div>
				</div>
				<div class="item">
					<div class="thumb thumb-high">
						<a href="#" class="th">
							<div class="wrap_image">
								<img class="absolute-img" src="images/content/category.jpg" alt="">
							</div>
							<div class="tools">
								<div class="title">Hottest Today</div>
								<div class="thumb_video-count">
									<i class="icon-cinema"></i>
									343
								</div>

							</div>
						</a>
					</div>
				</div>
				<div class="item">
					<div class="thumb thumb-high">
						<a href="#" class="th">
							<div class="wrap_image">
								<img class="absolute-img" src="images/content/category.jpg" alt="">
							</div>
							<div class="tools">
								<div class="title">Hottest Today</div>
								<div class="thumb_video-count">
									<i class="icon-cinema"></i>
									343
								</div>

							</div>
						</a>
					</div>
				</div>
				<div class="item">
					<div class="thumb thumb-high">
						<a href="#" class="th">
							<div class="wrap_image">
								<img class="absolute-img" src="images/content/category.jpg" alt="">
							</div>
							<div class="tools">
								<div class="title">Hottest Today</div>
								<div class="thumb_video-count">
									<i class="icon-cinema"></i>
									343
								</div>

							</div>
						</a>
					</div>
				</div>
				<div class="item">
					<div class="thumb thumb-high">
						<a href="#" class="th">
							<div class="wrap_image">
								<img class="absolute-img" src="images/content/category.jpg" alt="">
							</div>
							<div class="tools">
								<div class="title">Hottest Today</div>
								<div class="thumb_video-count">
									<i class="icon-cinema"></i>
									343
								</div>

							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="catgegories-holder">
				<div class="heading heading-search">
					<h2 class="title">New Video</h2>
					<form action="" class="search-cat">
						<div class="row search-cat_row">
							<input type="text" name="search_cat" id="search-cat">
							<button class="search-cat_button">Search</button>
						</div>
					</form>
				</div>
				<ul class="alphabet">
					<li class="alphabet-item"><a href="#"><span>A</span></a></li>
					<li class="alphabet-item"><a href="#"><span>B</span></a></li>
					<li class="alphabet-item"><a href="#"><span>C</span></a></li>
					<li class="alphabet-item"><a href="#"><span>D</span></a></li>
					<li class="alphabet-item"><a href="#"><span>E</span></a></li>
					<li class="alphabet-item"><a href="#"><span>F</span></a></li>
					<li class="alphabet-item"><a href="#"><span>G</span></a></li>
					<li class="alphabet-item"><a href="#"><span>H</span></a></li>
					<li class="alphabet-item"><a href="#"><span>I</span></a></li>
					<li class="alphabet-item"><a href="#"><span>G</span></a></li>
					<li class="alphabet-item"><a href="#"><span>L</span></a></li>
					<li class="alphabet-item"><a href="#"><span>K</span></a></li>
					<li class="alphabet-item"><a href="#"><span>M</span></a></li>
					<li class="alphabet-item"><a href="#"><span>N</span></a></li>
					<li class="alphabet-item"><a href="#"><span>O</span></a></li>
					<li class="alphabet-item"><a href="#"><span>P</span></a></li>
					<li class="alphabet-item"><a href="#"><span>Q</span></a></li>
					<li class="alphabet-item"><a href="#"><span>R</span></a></li>
					<li class="alphabet-item"><a href="#"><span>S</span></a></li>
					<li class="alphabet-item"><a href="#"><span>T</span></a></li>
					<li class="alphabet-item"><a href="#"><span>U</span></a></li>
					<li class="alphabet-item"><a href="#"><span>V</span></a></li>
					<li class="alphabet-item"><a href="#"><span>W</span></a></li>
					<li class="alphabet-item"><a href="#"><span>X</span></a></li>
					<li class="alphabet-item"><a href="#"><span>Y</span></a></li>
					<li class="alphabet-item"><a href="#"><span>Z</span></a></li>
				</ul>
				<h3 class="alphabet-title">
					A
				</h3>
				<ul class="list-catgegories">
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
					<li class="list-catgegories_item"><a href="#">Some text<span class="pink-count">132</span></a></li>
				</ul>
			</div>
		</div>
		<div class="banners">
			<div class="banner-item">
				<div class="banner-item_image-holder">
					<img class="absolute-img" src="images/content/banner.jpg" alt="">
				</div>
			</div>
			<div class="banner-item">
				<div class="banner-item_image-holder">
					<img class="absolute-img" src="images/content/banner.jpg" alt="">
				</div>
			</div>
			<div class="banner-item">
				<div class="banner-item_image-holder">
					<img class="absolute-img" src="images/content/banner.jpg" alt="">
				</div>
			</div>
			<div class="banner-item">
				<div class="banner-item_image-holder">
					<img class="absolute-img" src="images/content/banner.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer}}