{{> header pageTitle="Zzgays"}}
<div class="main">
	<button type="button" class="sticky_filter onClick">
		<i class="icon-params"></i>
	</button>
	<div class="row_container">
		<div class="container">
			<div class="twocolumns">
				<div class="aside_grid">
					<button class="close onClick" type="button">
						<i class="icon-close"></i>
					</button>
					<div class="wrap">
						<div class="headline_sorting">
							<div class="item active">
								<a href="#">All Video</a>
							</div>
							<div class="item">
								<a href="#">HD Video</a>
							</div>
						</div>
						<div class="list_sort">
							<div class="item active">
								<a href="#">
									<div class="icon">
										<i class="icon-new"></i>
									</div>
									<span>New video</span>
								</a>
							</div>
							<div class="item">
								<a href="#">
									<div class="icon">
										<i class="icon-eye"></i>
									</div>
									<span>Top Rated</span>
								</a>
							</div>
							<div class="item">
								<a href="#">
									<div class="icon">
										<i class="icon-star"></i>
									</div>
									<span>New Viewed</span>
								</a>
							</div>
							<div class="item">
								<a href="#">
									<div class="icon">
										<i class="icon-infinity"></i>
									</div>
									<span>New Longest</span>
								</a>
							</div>
							<div class="item">
								<a href="#">
									<div class="icon">
										<i class="icon-comment"></i>
									</div>
									<span>Most Commented</span>
								</a>
							</div>
							<div class="item">
								<a href="#">
									<div class="icon">
										<i class="icon-menu-play"></i>
									</div>
									<span>New video</span>
								</a>
							</div>
						</div>
						<div class="list_categories">
							<div class="item">
								<a href="#">
									<span class="name">Anal</span>
									<span class="count">233</span>
								</a>
							</div>
							<div class="item">
								<a href="#">
									<span class="name">Teen</span>
									<span class="count">322</span>
								</a>
							</div>
						</div>
						<div class="more_bottom">
							<div class="item active">
								<a href="#">All Categories</a>
							</div>
							<div class="item">
								<a href="#">All Channel</a>
							</div>
						</div>
					</div>
				</div>
				<div class="content_grid">
					<div class="row_container">
						<div class="heading">
							<h2 class="title">Hottest Video Today</h2>
						</div>
						<div class="slider slider-thumbs">
							<div class="item">
								<div class="thumb">
									<a href="#" class="th">
										<div class="wrap_image">
											<img src="images/content/image01.jpg" alt="">
											<div class="sticky">
												<div class="item">
													<div class="quality">hd</div>
												</div>
												<div class="item">
													<div class="time">3:30</div>
												</div>
											</div>
										</div>
										<div class="tools">
											<div class="title">RealityKings - Euro Sex
												Parties - Two On One</div>
											<div class="columns">
												<div class="column">
													<i class="icon-eye"></i>
													<span>55</span>
												</div>
												<div class="column">
													<i class="icon-hand-like"></i>
													<span>55%</span>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="thumb">
									<a href="#" class="th">
										<div class="wrap_image">
											<img src="images/content/image01.jpg" alt="">
											<div class="sticky">
												<div class="item">
													<div class="quality">hd</div>
												</div>
												<div class="item">
													<div class="time">3:30</div>
												</div>
											</div>
										</div>
										<div class="tools">
											<div class="title">Hottest Video Today</div>
											<div class="columns">
												<div class="column">
													<i class="icon-eye"></i>
													<span>55</span>
												</div>
												<div class="column">
													<i class="icon-hand-like"></i>
													<span>55%</span>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="thumb">
									<div class="th closed">
										<div class="wrap_image">
											<img src="images/content/image01.jpg" alt="">
											<div class="splash_privat">
												<i class="icon-face"></i>
												<span>Private Video</span>
											</div>
										</div>
										<div class="tools_access">
											<a href="#" class="btn_access">gain access</a>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="thumb">
									<a href="#" class="th">
										<div class="wrap_image">
											<img src="images/content/image01.jpg" alt="">
											<div class="sticky">
												<div class="item">
													<div class="quality">hd</div>
												</div>
												<div class="item">
													<div class="time">3:30</div>
												</div>
											</div>
										</div>
										<div class="tools">
											<div class="title">RealityKings - Euro Sex
												Parties - Two On One</div>
											<div class="columns">
												<div class="column">
													<i class="icon-eye"></i>
													<span>55</span>
												</div>
												<div class="column">
													<i class="icon-hand-like"></i>
													<span>55%</span>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="thumb">
									<a href="#" class="th">
										<div class="wrap_image">
											<img src="images/content/image01.jpg" alt="">
											<div class="sticky">
												<div class="item">
													<div class="quality">hd</div>
												</div>
												<div class="item">
													<div class="time">3:30</div>
												</div>
											</div>
										</div>
										<div class="tools">
											<div class="title">Hottest Video Today</div>
											<div class="columns">
												<div class="column">
													<i class="icon-eye"></i>
													<span>55</span>
												</div>
												<div class="column">
													<i class="icon-hand-like"></i>
													<span>55%</span>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="thumb">
									<a href="#" class="th">
										<div class="wrap_image">
											<img src="images/content/image01.jpg" alt="">
											<div class="sticky">
												<div class="item">
													<div class="quality">hd</div>
												</div>
												<div class="item">
													<div class="time">3:30</div>
												</div>
											</div>
										</div>
										<div class="tools">
											<div class="title">Hottest Video Today</div>
											<div class="columns">
												<div class="column">
													<i class="icon-eye"></i>
													<span>55</span>
												</div>
												<div class="column">
													<i class="icon-hand-like"></i>
													<span>55%</span>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row_container">
						<div class="heading">
							<h2 class="title">New Video</h2>
							<div class="drop_sorting">
								<button type="button" class="btn btnSort">
									<b>
										<span>New News</span>
										<i class="icon-arrow-down"></i>
									</b>
								</button>
								<div class="dropabble">
									<a href="#" class="item">New News</a>
									<a href="#" class="item">Old News</a>
								</div>
							</div>
						</div>
						<div class="thumbs">
							<div class="thumb">
								<div class="th closed">
									<div class="wrap_image">
										<img src="images/content/image01.jpg" alt="">
										<div class="splash_privat">
											<i class="icon-face"></i>
											<span>Private Video</span>
										</div>
									</div>
									<div class="tools_access">
										<a href="#" class="btn_access">gain access</a>
									</div>
								</div>
							</div>
							<div class="thumb">
								<a href="#" class="th">
									<div class="wrap_image">
										<img src="images/content/image01.jpg" alt="">
										<div class="sticky">
											<div class="item">
												<div class="quality">hd</div>
											</div>
											<div class="item">
												<div class="time">3:30</div>
											</div>
										</div>
									</div>
									<div class="tools">
										<div class="title">RealityKings - Euro Sex
											Parties - Two On One</div>
										<div class="columns">
											<div class="column">
												<i class="icon-eye"></i>
												<span>55</span>
											</div>
											<div class="column">
												<i class="icon-hand-like"></i>
												<span>55%</span>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="thumb">
								<a href="#" class="th">
									<div class="wrap_image">
										<img src="images/content/image01.jpg" alt="">
										<div class="sticky">
											<div class="item">
												<div class="quality">hd</div>
											</div>
											<div class="item">
												<div class="time">3:30</div>
											</div>
										</div>
									</div>
									<div class="tools">
										<div class="title">Hottest Video Today</div>
										<div class="columns">
											<div class="column">
												<i class="icon-eye"></i>
												<span>55</span>
											</div>
											<div class="column">
												<i class="icon-hand-like"></i>
												<span>55%</span>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="thumb">
								<a href="#" class="th">
									<div class="wrap_image">
										<img src="images/content/image01.jpg" alt="">
										<div class="sticky">
											<div class="item">
												<div class="quality">hd</div>
											</div>
											<div class="item">
												<div class="time">3:30</div>
											</div>
										</div>
									</div>
									<div class="tools">
										<div class="title">Hottest Video Today</div>
										<div class="columns">
											<div class="column">
												<i class="icon-eye"></i>
												<span>55</span>
											</div>
											<div class="column">
												<i class="icon-hand-like"></i>
												<span>55%</span>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="thumb">
								<a href="#" class="th">
									<div class="wrap_image">
										<img src="images/content/image01.jpg" alt="">
										<div class="sticky">
											<div class="item">
												<div class="quality">hd</div>
											</div>
											<div class="item">
												<div class="time">3:30</div>
											</div>
										</div>
									</div>
									<div class="tools">
										<div class="title">Hottest Video Today</div>
										<div class="columns">
											<div class="column">
												<i class="icon-eye"></i>
												<span>55</span>
											</div>
											<div class="column">
												<i class="icon-hand-like"></i>
												<span>55%</span>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="thumb">
								<a href="#" class="th">
									<div class="wrap_image">
										<img src="images/content/image01.jpg" alt="">
										<div class="sticky">
											<div class="item">
												<div class="quality">hd</div>
											</div>
											<div class="item">
												<div class="time">3:30</div>
											</div>
										</div>
									</div>
									<div class="tools">
										<div class="title">Hottest Video Today</div>
										<div class="columns">
											<div class="column">
												<i class="icon-eye"></i>
												<span>55</span>
											</div>
											<div class="column">
												<i class="icon-hand-like"></i>
												<span>55%</span>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="thumb">
								<a href="#" class="th">
									<div class="wrap_image">
										<img src="images/content/image01.jpg" alt="">
										<div class="sticky">
											<div class="item">
												<div class="quality">hd</div>
											</div>
											<div class="item">
												<div class="time">3:30</div>
											</div>
										</div>
									</div>
									<div class="tools">
										<div class="title">Hottest Video Today</div>
										<div class="columns">
											<div class="column">
												<i class="icon-eye"></i>
												<span>55</span>
											</div>
											<div class="column">
												<i class="icon-hand-like"></i>
												<span>55%</span>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="thumb">
								<a href="#" class="th">
									<div class="wrap_image">
										<img src="images/content/image01.jpg" alt="">
										<div class="sticky">
											<div class="item">
												<div class="quality">hd</div>
											</div>
											<div class="item">
												<div class="time">3:30</div>
											</div>
										</div>
									</div>
									<div class="tools">
										<div class="title">Hottest Video Today</div>
										<div class="columns">
											<div class="column">
												<i class="icon-eye"></i>
												<span>55</span>
											</div>
											<div class="column">
												<i class="icon-hand-like"></i>
												<span>55%</span>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="thumb">
								<a href="#" class="th">
									<div class="wrap_image">
										<img src="images/content/image01.jpg" alt="">
										<div class="sticky">
											<div class="item">
												<div class="quality">hd</div>
											</div>
											<div class="item">
												<div class="time">3:30</div>
											</div>
										</div>
									</div>
									<div class="tools">
										<div class="title">Hottest Video Today</div>
										<div class="columns">
											<div class="column">
												<i class="icon-eye"></i>
												<span>55</span>
											</div>
											<div class="column">
												<i class="icon-hand-like"></i>
												<span>55%</span>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="thumb">
								<a href="#" class="th">
									<div class="wrap_image">
										<img src="images/content/image01.jpg" alt="">
										<div class="sticky">
											<div class="item">
												<div class="quality">hd</div>
											</div>
											<div class="item">
												<div class="time">3:30</div>
											</div>
										</div>
									</div>
									<div class="tools">
										<div class="title">RealityKings - Euro Sex
											Parties - Two On One</div>
										<div class="columns">
											<div class="column">
												<i class="icon-eye"></i>
												<span>55</span>
											</div>
											<div class="column">
												<i class="icon-hand-like"></i>
												<span>55%</span>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="thumb">
								<a href="#" class="th">
									<div class="wrap_image">
										<img src="images/content/image01.jpg" alt="">
										<div class="sticky">
											<div class="item">
												<div class="quality">hd</div>
											</div>
											<div class="item">
												<div class="time">3:30</div>
											</div>
										</div>
									</div>
									<div class="tools">
										<div class="title">Hottest Video Today</div>
										<div class="columns">
											<div class="column">
												<i class="icon-eye"></i>
												<span>55</span>
											</div>
											<div class="column">
												<i class="icon-hand-like"></i>
												<span>55%</span>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="thumb">
								<a href="#" class="th">
									<div class="wrap_image">
										<img src="images/content/image01.jpg" alt="">
										<div class="sticky">
											<div class="item">
												<div class="quality">hd</div>
											</div>
											<div class="item">
												<div class="time">3:30</div>
											</div>
										</div>
									</div>
									<div class="tools">
										<div class="title">RealityKings - Euro Sex
											Parties - Two On One</div>
										<div class="columns">
											<div class="column">
												<i class="icon-eye"></i>
												<span>55</span>
											</div>
											<div class="column">
												<i class="icon-hand-like"></i>
												<span>55%</span>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="pagination">
							<div class="item pager">
								<a href="#">
									<i class="icon-arrow-left"></i>
								</a>
							</div>
							<div class="item active">
								<a href="#">1</a>
							</div>
							<div class="item">
								<a href="#">2</a>
							</div>
							<div class="item">
								<a href="#">3</a>
							</div>
							<div class="item">
								<a href="#">4</a>
							</div>
							<div class="item pager">
								<a href="#">
									<i class="icon-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="row_container">
						<div class="intro">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit posuere dolor, ac feugiat libero
								viverra
								sit
								amet. Morbi vel porta eros. In scelerisque vel elit in fermentum. Integer dapibus, dolor at semper molestie, urna
								nulla
								convallis turpis, et pulvinar odio ante scelerisque lectus. Class aptent taciti sociosqu ad litora torquent per
								conubia
								nostra, per inceptos himenaeos. Nulla risus magna, condimentum sed bibendum quis, imperdiet eu lorem. Fusce ornare
								auctor condimentum. Donec scelerisque tellus sit amet velit consequat interdum. Pellentesque eget nisi vitae leo
								tempus
								tristique. Pellentesque dictum dolor eu massa elementum lobortis. Sed ornare neque vitae odio tincidunt dapibus.
								Mauris
								sit amet massa ac lorem consectetur tempus id ut sapien.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer}}