{{> header pageTitle="Zzgays"}}
<div class="main view_holder">
	<div class="row_container">
		<div class="top_dark-preview">
			<a href="#" class="view_aside" data-open="view_aside-opened" data-parent="#aside_grid"></a>
			<div class="aside_grid" id="aside_grid">
				<button class="close onClick" type="button">
					<i class="icon-close"></i>
				</button>
				<div class="wrap">
					<div class="headline_sorting">
						<div class="item active">
							<a href="#">All Video</a>
						</div>
						<div class="item">
							<a href="#">HD Video</a>
						</div>
					</div>
					<div class="list_sort">
						<div class="item active">
							<a href="#">
								<div class="icon">
									<i class="icon-new"></i>
								</div>
								<span>New video</span>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<div class="icon">
									<i class="icon-eye"></i>
								</div>
								<span>Top Rated</span>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<div class="icon">
									<i class="icon-star"></i>
								</div>
								<span>New Viewed</span>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<div class="icon">
									<i class="icon-infinity"></i>
								</div>
								<span>New Longest</span>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<div class="icon">
									<i class="icon-comment"></i>
								</div>
								<span>Most Commented</span>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<div class="icon">
									<i class="icon-menu-play"></i>
								</div>
								<span>New video</span>
							</a>
						</div>
					</div>
					<div class="list_categories">
						<div class="item">
							<a href="#">
								<span class="name">Anal</span>
								<span class="count">233</span>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="name">Teen</span>
								<span class="count">322</span>
							</a>
						</div>
					</div>
					<div class="more_bottom">
						<div class="item active">
							<a href="#">All Categories</a>
						</div>
						<div class="item">
							<a href="#">All Channel</a>
						</div>
					</div>
				</div>
			</div>
			<div class="view_columns">
				<div class="view-column">
					<div class="player-holder">
						<div class="player">
							<img src="images/content/player.jpg" alt="" class="absolute-img">
							<div class="post_play-ico">
								<i class="icon-play"></i>
							</div>
						</div>
					</div>
					<div class="slider-playlist_wrapper">
						<div class="slider slider-playlist">
							<div class="item">
								<div class="thumb">
									<a href="#" class="th">
										<div class="wrap_image">
											<img src="images/content/image01.jpg" alt="">
											<div class="sticky">
												<div class="item">
													<div class="quality">hd</div>
												</div>
												<div class="item">
													<div class="time">3:30</div>
												</div>
											</div>
										</div>
										<div class="tools">
											<div class="title">RealityKings - Euro Sex
												Parties - Two On One</div>
											<div class="columns">
												<div class="column">
													<i class="icon-eye"></i>
													<span>55</span>
												</div>
												<div class="column">
													<i class="icon-hand-like"></i>
													<span>55%</span>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="thumb">
									<a href="#" class="th">
										<div class="wrap_image">
											<img src="images/content/image01.jpg" alt="">
											<div class="sticky">
												<div class="item">
													<div class="quality">hd</div>
												</div>
												<div class="item">
													<div class="time">3:30</div>
												</div>
											</div>
										</div>
										<div class="tools">
											<div class="title">Hottest Video Today</div>
											<div class="columns">
												<div class="column">
													<i class="icon-eye"></i>
													<span>55</span>
												</div>
												<div class="column">
													<i class="icon-hand-like"></i>
													<span>55%</span>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="thumb">
									<div class="th closed">
										<div class="wrap_image">
											<img src="images/content/image01.jpg" alt="">
											<div class="splash_privat">
												<i class="icon-face"></i>
												<span>Private Video</span>
											</div>
										</div>
										<div class="tools_access">
											<a href="#" class="btn_access">gain access</a>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="thumb">
									<a href="#" class="th">
										<div class="wrap_image">
											<img src="images/content/image01.jpg" alt="">
											<div class="sticky">
												<div class="item">
													<div class="quality">hd</div>
												</div>
												<div class="item">
													<div class="time">3:30</div>
												</div>
											</div>
										</div>
										<div class="tools">
											<div class="title">RealityKings - Euro Sex
												Parties - Two On One</div>
											<div class="columns">
												<div class="column">
													<i class="icon-eye"></i>
													<span>55</span>
												</div>
												<div class="column">
													<i class="icon-hand-like"></i>
													<span>55%</span>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="thumb">
									<a href="#" class="th">
										<div class="wrap_image">
											<img src="images/content/image01.jpg" alt="">
											<div class="sticky">
												<div class="item">
													<div class="quality">hd</div>
												</div>
												<div class="item">
													<div class="time">3:30</div>
												</div>
											</div>
										</div>
										<div class="tools">
											<div class="title">Hottest Video Today</div>
											<div class="columns">
												<div class="column">
													<i class="icon-eye"></i>
													<span>55</span>
												</div>
												<div class="column">
													<i class="icon-hand-like"></i>
													<span>55%</span>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="thumb">
									<a href="#" class="th">
										<div class="wrap_image">
											<img src="images/content/image01.jpg" alt="">
											<div class="sticky">
												<div class="item">
													<div class="quality">hd</div>
												</div>
												<div class="item">
													<div class="time">3:30</div>
												</div>
											</div>
										</div>
										<div class="tools">
											<div class="title">Hottest Video Today</div>
											<div class="columns">
												<div class="column">
													<i class="icon-eye"></i>
													<span>55</span>
												</div>
												<div class="column">
													<i class="icon-hand-like"></i>
													<span>55%</span>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="single-banner slim-banner ">
						<div class="single-banner_holder">
							<img src="images/content/banner-single_short.jpg" alt="">
						</div>
					</div>
					<div class="view_details-holder" id="details">
						<div class="view_title">
							RealityKings - Euro Sex Parties - Two On One
							<div class="flag-holder">
								<button class="view_flag-button" data-open="flag-popap_opened" data-parent="#flag">
									<i class="icon-flag"></i>
								</button>
								<div class="block-flagging" id="flag">
									<form method="post">
										<div class="flag-title">
											Flag This Video
										</div>
										<div class="generic-error hidden"></div>
										<div class="success hidden">Спасибо! Мы благодарны за вашу помощь.</div>
										<div class="block-radios">
											<div class="button-group">
												<div class="row row_radio-holder">
													<input type="radio" id="flag_inappropriate_video" name="flag_id" value="flag_inappropriate_video" class="radio">
													<label for="flag_inappropriate_video">Underage</label>
												</div>
												<div class="row row_radio-holder">
													<input type="radio" id="flag_error_video" name="flag_id" value="flag_error_video" class="radio">
													<label for="flag_error_video">Error (no image or sound)</label>
												</div>
												<div class="row row_radio-holder">
													<input type="radio" id="flag_other_video" name="flag_id" value="flag_other_video" class="radio" checked="">
													<label for="flag_other_video">Other</label>
												</div>
												<div class="row row_radio-holder">
													<input type="radio" id="flag_copyrighted_video" name="flag_id" value="flag_copyrighted_video" class="radio">
													<label for="flag_copyrighted_video">Copyright infringement</label>
												</div>
											</div>
										</div>
										<div class="block-textarea">
											<textarea id="flag_message" name="flag_message" rows="3" class="textarea" placeholder=""></textarea>
										</div>
										<div class="row flag-button">
											<input type="hidden" name="action" value="flag">
											<input type="hidden" name="video_id" value="65">
											<button type="submit" class="submit"><span>submit</span></button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="view_description">
							Some description,Some description,Some description,Some description,Some description,Some description,Some
							description,Some description,Some descriptio
						</div>
						<div class="view_added-by">
							<div class="added-by">Add by <a href="#">HornyFuckr669</a> 2 days ago</div>
							<div class="rating">
								<i class="icon-eye"></i>
								55%
							</div>
						</div>
						<div class="view_action-row">
							<div class="rating-container">
								<a href="#dislike" class="rate-button rate-dislike" title="Мне не нравится" data-video-id="116" data-vote="0">
									<i class="icon-hand-like"></i> 34
								</a>
								<div class="rating-holder">
									<span class="voters" data-success="Спасибо!" data-error="IP уже голосовал">69% (22 голоса)</span>
									<span class="scale-holder"><span class="scale" style="width:69%;" data-rating="3.4545" data-votes="22"></span></span>
								</div>
								<a href="#like" class="rate-button rate-like" title="Мне нравится" data-video-id="116" data-vote="5">
									<i class="icon-hand-like"></i> 64
								</a>
							</div>
							<ul class="view_tabs-menu">
								<li class="view_tabs-item share-tab">
									<a href="#" class="view_tabs-action " data-open="share-popap_opened" data-parent="#share">
										<i class="icon-share-content"></i>
										Share
									</a>
									<div class="block-share" id="share">
										<form>
											<div class="flag-title">
												Share
												<div class="block-bookmarks">
													<!-- AddThis Button BEGIN -->
													<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
														<a class="addthis_button_vk addthis_button_preferred_1 at300b" target="_blank" title="Vkontakte" href="#"><span
															 class="at-icon-wrapper" style="background-color: rgb(99, 131, 168); line-height: 32px; height: 32px; width: 32px;"><svg
																 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
																 version="1.1" role="img" aria-labelledby="at-svg-vk-7" title="Vkontakte" alt="Vkontakte" style="width: 32px; height: 32px;"
																 class="at-icon at-icon-vk">
																	<title id="at-svg-vk-7">Vkontakte</title>
																	<g>
																		<path d="M26.712 10.96s-.167-.48-1.21-.348l-3.447.024a.785.785 0 0 0-.455.072s-.204.108-.3.37a22.1 22.1 0 0 1-1.28 2.695c-1.533 2.61-2.156 2.754-2.407 2.587-.587-.372-.43-1.51-.43-2.323 0-2.54.382-3.592-.756-3.868-.37-.084-.646-.144-1.616-.156-1.232-.012-2.274 0-2.86.287-.396.193-.695.624-.515.648.227.036.742.143 1.017.515 0 0 .3.49.347 1.568.13 2.982-.48 3.353-.48 3.353-.466.252-1.28-.167-2.478-2.634 0 0-.694-1.222-1.233-2.563-.097-.25-.288-.383-.288-.383s-.216-.168-.527-.216l-3.28.024c-.504 0-.683.228-.683.228s-.18.19-.012.587c2.562 6.022 5.483 9.04 5.483 9.04s2.67 2.79 5.7 2.597h1.376c.418-.035.634-.263.634-.263s.192-.214.18-.61c-.024-1.843.838-2.12.838-2.12.838-.262 1.915 1.785 3.065 2.575 0 0 .874.6 1.532.467l3.064-.048c1.617-.01.85-1.352.85-1.352-.06-.108-.442-.934-2.286-2.647-1.916-1.784-1.665-1.496.658-4.585 1.413-1.88 1.976-3.03 1.796-3.52z"
																		 fill-rule="evenodd"></path>
																	</g>
																</svg></span></a>
														<a class="addthis_button_odnoklassniki_ru addthis_button_preferred_2 at300b" target="_blank" title="Odnoklassniki"
														 href="#"><span class="at-icon-wrapper" style="background-color: rgb(213, 120, 25); line-height: 32px; height: 32px; width: 32px;"><svg
																 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
																 version="1.1" role="img" aria-labelledby="at-svg-odnoklassniki_ru-8" title="Odnoklassniki" alt="Odnoklassniki"
																 style="width: 32px; height: 32px;" class="at-icon at-icon-odnoklassniki_ru">
																	<title id="at-svg-odnoklassniki_ru-8">Odnoklassniki</title>
																	<g>
																		<path d="M16.5 16.15A6.15 6.15 0 0 0 22.65 10c0-3.39-2.75-6.14-6.15-6.14-3.4 0-6.15 2.75-6.15 6.14.01 3.4 2.76 6.15 6.15 6.15zm0-9.17c1.67 0 3.02 1.35 3.02 3.02s-1.35 3.02-3.02 3.02-3.02-1.35-3.02-3.02 1.35-3.02 3.02-3.02zm7.08 9.92c-.35-.7-1.31-1.28-2.58-.27-1.73 1.36-4.5 1.36-4.5 1.36s-2.77 0-4.5-1.36c-1.28-1.01-2.24-.43-2.59.27-.6 1.22.08 1.8 1.62 2.79 1.32.85 3.13 1.16 4.3 1.28l-.98.98c-1.38 1.37-2.7 2.7-3.62 3.62-.55.55-.55 1.438 0 1.99l.17.17c.55.55 1.44.55 1.99 0l3.62-3.622 3.62 3.62c.55.55 1.44.55 1.99 0l.17-.17c.55-.55.55-1.44 0-1.99l-3.62-3.62-.98-.98c1.17-.12 2.96-.438 4.27-1.28 1.55-.988 2.23-1.58 1.62-2.788z"></path>
																	</g>
																</svg></span></a>
														<a class="addthis_button_facebook addthis_button_preferred_3 at300b" title="Facebook" href="#"><span
															 class="at-icon-wrapper" style="background-color: rgb(59, 89, 152); line-height: 32px; height: 32px; width: 32px;"><svg
																 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
																 version="1.1" role="img" aria-labelledby="at-svg-facebook-9" title="Facebook" alt="Facebook" style="width: 32px; height: 32px;"
																 class="at-icon at-icon-facebook">
																	<title id="at-svg-facebook-9">Facebook</title>
																	<g>
																		<path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z"
																		 fill-rule="evenodd"></path>
																	</g>
																</svg></span></a>
														<a class="addthis_button_twitter addthis_button_preferred_4 at300b" title="Twitter" href="#"><span class="at-icon-wrapper"
															 style="background-color: rgb(29, 161, 242); line-height: 32px; height: 32px; width: 32px;"><svg xmlns="http://www.w3.org/2000/svg"
																 xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img"
																 aria-labelledby="at-svg-twitter-10" title="Twitter" alt="Twitter" style="width: 32px; height: 32px;"
																 class="at-icon at-icon-twitter">
																	<title id="at-svg-twitter-10">Twitter</title>
																	<g>
																		<path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336"
																		 fill-rule="evenodd"></path>
																	</g>
																</svg></span></a>
														<a class="addthis_button_compact at300m" href="#"><span class="at-icon-wrapper" style="background-color: rgb(255, 101, 80); line-height: 32px; height: 32px; width: 32px;"><svg
																 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
																 version="1.1" role="img" aria-labelledby="at-svg-addthis-2" title="More" alt="More" style="width: 32px; height: 32px;"
																 class="at-icon at-icon-addthis">
																	<title id="at-svg-addthis-2">Addthis</title>
																	<g>
																		<path d="M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z" fill-rule="evenodd"></path>
																	</g>
																</svg></span></a>
														<div class="atclear"></div>
													</div>
													<script type="text/javascript">
														var addthis_config = {
															ui_language: 'ru'
														}
													</script>
													<script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js" defer=""></script>
													<!-- AddThis Button END -->
												</div>
											</div>
											<div class="row">
												<label for="share_link" class="field-label">Link this video</label>
												<input type="text" id="share_link" class="textfield middle" value="https://www.kvs-demo.com/videos/116/ciara-speechless/"
												 readonly="">
											</div>
											<div class="row">
												<label for="share_bb_code" class="field-label">BB Code</label>
												<input type="text" id="share_bb_code" class="textfield" value="[url=https://www.kvs-demo.com/videos/116/ciara-speechless/]Ciara - Speechless[/url]"
												 readonly="">
											</div>
											<div class="row">
												<label for="share_embed_code" class="field-label">Embed code</label>
												<input type="text" id="share_embed_code" class="textfield embed-code" value="" readonly="">
											</div>
											<div class="row row_embed">
												<label class="field-label">Embed size</label>
												<div class="block-size">
													<a class="embed-button" href="#embed_400x225" data-embed-size="400x225">400x225</a>
													<a class="embed-button" href="#embed_480x270" data-embed-size="480x270">480x270</a>
													<a class="embed-button" href="#embed_640x360" data-embed-size="640x360">640x360</a>
													<a class="embed-button" href="#embed_960x540" data-embed-size="960x540">960x540</a>
												</div>
											</div>
											<div class="row custom-size">
												<label for="share_embed_code_width" class="field-label">Размер embed</label>
												<input type="text" id="share_embed_code_width" value="640" class="textfield embed-code-custom-width">
												<span>x</span>
												<input type="text" id="share_embed_code_height" value="360" class="textfield embed-code-custom-height">
											</div>
										</form>
									</div>
								</li>
								<li class="view_tabs-item download-tab">
									<a href="#" class="view_tabs-action download-tab" data-open="download-popap_opened" data-parent="#download">
										<i class="icon-download"></i>
										Dowload
									</a>
									<div class="block-download " id="download">
										<div class="flag-title">
											Download
										</div>
										<div class="row row_embed">
											<a class="embed-button" href="#" data-attach-session="PHPSESSID">MP4 360p, 19,37 Mb</a>
											<a class="embed-button" href="#" data-attach-session="PHPSESSID">MP4 480p, 26,61 Mb</a>
										</div>

									</div>
								</li>
								<li class="view_tabs-item addto-tab">
									<a href="#" class="view_tabs-action" data-open="addto-popap_opened" data-parent="#add-to">
										<i class="icon-add"></i>
										Add to ...
									</a>
									<div class="block-flagging block-add" id="add-to">
										<div class="flag-title">
											Add to ...
										</div>
										<div class="row row_embed">
											<a href="" class="violet-link" data-open="login-form" data-parent="#login">Login</a> or <a class="violet-link"
											 href="">Sign Up</a> now to add this video!
										</div>
										<!-- <ul class="list-add">
											<li class="list-add_item hidden" id="delete_fav_0" >
												<span>
													<a class="violet-link" href="">Favorites</a>
													<a class="violet-link" href="#delete" class="delete" data-video-id="116" data-fav-type="0">[x]</a>
												</span>
											</li>
											<li class="list-add_item" id="add_fav_0">
												<a class="violet-link" href="#add_to_fav" data-video-id="116" data-fav-type="0">Favorites</a>
											</li>
											<li class="list-add_item hidden" id="delete_fav_1" >
												<span>
													<a class="violet-link" href="">Watch later</a>
													<a class="violet-link" href="#delete" class="delete" data-video-id="116" data-fav-type="1">[x]</a>
												</span>
											</li>
											<li class="list-add_item" id="add_fav_1">
												<a class="violet-link" href="#add_to_fav" data-video-id="116" data-fav-type="1">Watch later</a>
											</li>
											<li class="list-add_item hidden" id="delete_playlist_136" >
												<span>
													<a class="violet-link" href="">Add to "test pl"</a>
													<a class="violet-link" href="#delete" class="delete" data-video-id="116" data-fav-type="10" data-playlist-id="136">[x]</a>
												</span>
											</li>
											<li class="list-add_item" id="add_playlist_136">
												<a class="violet-link" href="#add_to_playlist" data-video-id="116" data-fav-type="10" data-playlist-id="136">Add to "test pl"</a>
											</li>
											<li class="list-add_item">
												<a class="violet-link" href="#add_to_new_playlist" data-video-id="116" data-fav-type="10" data-fav-url=""
												 data-create-playlist-url="">Add to new playlist...</a>
											</li>
											<li class="list-add_item hidden" id="delete_playlist_">
												<span>
													<a class="violet-link" href="">Add to "%1%"</a>
													<a class="violet-link" href="#delete" class="delete" data-video-id="116" data-fav-type="10" data-playlist-id="%ID%">[x]</a>
												</span>
											</li>
											<li class="list-add_item hidden" id="add_playlist_">
												<a class="violet-link" href="#add_to_playlist" data-video-id="116" data-fav-type="10"
												 data-playlist-id="%ID%">Add to "%1%"</a>
											</li>
										</ul> -->
									</div>
								</li>
								<li class="view_tabs-item">
									<a href="#" class="view_tabs-action" data-open="comment-opened" data-parent="#comments" data-scroll="true">
										<i class="icon-comment"></i>
										Comments
									</a>
								</li>
							</ul>
						</div>
						<div class="view_bottom-row">
							<a href="#" class="view_channel-link">
								<i class="icon-cinema"></i>
								Teens Love Huge Cocks Channel
							</a>
							<a href="#" class="view_channel-link">
								<i class="icon-star"></i>
								Reality Kings
							</a>
							<ul class="view_list-tags">
								<li class="view_list-tags-item"><a href="#" class="view_list-tags-link">Some</a></li>
								<li class="view_list-tags-item"><a href="#" class="view_list-tags-link">Some</a></li>
								<li class="view_list-tags-item"><a href="#" class="view_list-tags-link">Some</a></li>
								<li class="view_list-tags-item"><a href="#" class="view_list-tags-link">Some</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="banner-aside">
					<div class="banner-aside_item">
						<img src="images/content/aside-banner.jpg" alt="">
					</div>
					<div class="banner-aside_item">
						<img src="images/content/aside-banner.jpg" alt="">
					</div>
				</div>
			</div>
			<button class="button" data-toggle="#details">
				<b class="details-opened">HIDDEN</b>
				<b class="details-hidden">Open details</b>
			</button>
		</div>
		<div class="container similar-videos">
			<div class="content_grid">
				<div class="row_container">
					<div class="heading">
						<h2 class="title">Related Videos</h2>
					</div>
					<div class="thumbs">
						<div class="thumb">
							<div class="th closed">
								<div class="wrap_image">
									<img src="images/content/image01.jpg" alt="">
									<div class="splash_privat">
										<i class="icon-face"></i>
										<span>Private Video</span>
									</div>
								</div>
								<div class="tools_access">
									<a href="#" class="btn_access">gain access</a>
								</div>
							</div>
						</div>
						<div class="thumb">
							<a href="#" class="th">
								<div class="wrap_image">
									<img src="images/content/image01.jpg" alt="">
									<div class="sticky">
										<div class="item">
											<div class="quality">hd</div>
										</div>
										<div class="item">
											<div class="time">3:30</div>
										</div>
									</div>
								</div>
								<div class="tools">
									<div class="title">RealityKings - Euro Sex
										Parties - Two On One</div>
									<div class="columns">
										<div class="column">
											<i class="icon-eye"></i>
											<span>55</span>
										</div>
										<div class="column">
											<i class="icon-hand-like"></i>
											<span>55%</span>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="thumb">
							<a href="#" class="th">
								<div class="wrap_image">
									<img src="images/content/image01.jpg" alt="">
									<div class="sticky">
										<div class="item">
											<div class="quality">hd</div>
										</div>
										<div class="item">
											<div class="time">3:30</div>
										</div>
									</div>
								</div>
								<div class="tools">
									<div class="title">Hottest Video Today</div>
									<div class="columns">
										<div class="column">
											<i class="icon-eye"></i>
											<span>55</span>
										</div>
										<div class="column">
											<i class="icon-hand-like"></i>
											<span>55%</span>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="thumb">
							<a href="#" class="th">
								<div class="wrap_image">
									<img src="images/content/image01.jpg" alt="">
									<div class="sticky">
										<div class="item">
											<div class="quality">hd</div>
										</div>
										<div class="item">
											<div class="time">3:30</div>
										</div>
									</div>
								</div>
								<div class="tools">
									<div class="title">Hottest Video Today</div>
									<div class="columns">
										<div class="column">
											<i class="icon-eye"></i>
											<span>55</span>
										</div>
										<div class="column">
											<i class="icon-hand-like"></i>
											<span>55%</span>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="thumb">
							<a href="#" class="th">
								<div class="wrap_image">
									<img src="images/content/image01.jpg" alt="">
									<div class="sticky">
										<div class="item">
											<div class="quality">hd</div>
										</div>
										<div class="item">
											<div class="time">3:30</div>
										</div>
									</div>
								</div>
								<div class="tools">
									<div class="title">Hottest Video Today</div>
									<div class="columns">
										<div class="column">
											<i class="icon-eye"></i>
											<span>55</span>
										</div>
										<div class="column">
											<i class="icon-hand-like"></i>
											<span>55%</span>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="thumb">
							<a href="#" class="th">
								<div class="wrap_image">
									<img src="images/content/image01.jpg" alt="">
									<div class="sticky">
										<div class="item">
											<div class="quality">hd</div>
										</div>
										<div class="item">
											<div class="time">3:30</div>
										</div>
									</div>
								</div>
								<div class="tools">
									<div class="title">Hottest Video Today</div>
									<div class="columns">
										<div class="column">
											<i class="icon-eye"></i>
											<span>55</span>
										</div>
										<div class="column">
											<i class="icon-hand-like"></i>
											<span>55%</span>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="thumb">
							<a href="#" class="th">
								<div class="wrap_image">
									<img src="images/content/image01.jpg" alt="">
									<div class="sticky">
										<div class="item">
											<div class="quality">hd</div>
										</div>
										<div class="item">
											<div class="time">3:30</div>
										</div>
									</div>
								</div>
								<div class="tools">
									<div class="title">Hottest Video Today</div>
									<div class="columns">
										<div class="column">
											<i class="icon-eye"></i>
											<span>55</span>
										</div>
										<div class="column">
											<i class="icon-hand-like"></i>
											<span>55%</span>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="thumb">
							<a href="#" class="th">
								<div class="wrap_image">
									<img src="images/content/image01.jpg" alt="">
									<div class="sticky">
										<div class="item">
											<div class="quality">hd</div>
										</div>
										<div class="item">
											<div class="time">3:30</div>
										</div>
									</div>
								</div>
								<div class="tools">
									<div class="title">RealityKings - Euro Sex
										Parties - Two On One</div>
									<div class="columns">
										<div class="column">
											<i class="icon-eye"></i>
											<span>55</span>
										</div>
										<div class="column">
											<i class="icon-hand-like"></i>
											<span>55%</span>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="thumb">
							<a href="#" class="th">
								<div class="wrap_image">
									<img src="images/content/image01.jpg" alt="">
									<div class="sticky">
										<div class="item">
											<div class="quality">hd</div>
										</div>
										<div class="item">
											<div class="time">3:30</div>
										</div>
									</div>
								</div>
								<div class="tools">
									<div class="title">Hottest Video Today</div>
									<div class="columns">
										<div class="column">
											<i class="icon-eye"></i>
											<span>55</span>
										</div>
										<div class="column">
											<i class="icon-hand-like"></i>
											<span>55%</span>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="thumb">
							<a href="#" class="th">
								<div class="wrap_image">
									<img src="images/content/image01.jpg" alt="">
									<div class="sticky">
										<div class="item">
											<div class="quality">hd</div>
										</div>
										<div class="item">
											<div class="time">3:30</div>
										</div>
									</div>
								</div>
								<div class="tools">
									<div class="title">RealityKings - Euro Sex
										Parties - Two On One</div>
									<div class="columns">
										<div class="column">
											<i class="icon-eye"></i>
											<span>55</span>
										</div>
										<div class="column">
											<i class="icon-hand-like"></i>
											<span>55%</span>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="load-more_holder">
						<a href="#" class="load-more">Load More</a>
					</div>
				</div>
			</div>
		</div>
		<div class="comment_holder block-comments" id="comments" data-block-id="video_comments_video_comments">
			<div class="container">
				<div class="comment-title">75 Comment</div>

				<div class="list-comments ">
					<div class="post">
						<div class="post_user-image">
							<img class="absolute-img" src="images/content/memeber-post.jpg" alt="">
						</div>
						<div class="post_right-column">
							<div class="post_member-title">
								Red Pidor
								<span class="post_date">Red 2h ago</span>
							</div>
							<div class="post_description">
								t was good, could have been longer however. Not long
								enough to get off.
							</div>
							<div class="post_actions">
								<a href="" class="post_reply">
									<i class="icon-share"></i>
									Reply
								</a>
								<a href="" class="post_reply">
									<i class="icon-heart"></i>
									32 likes
								</a>
							</div>
						</div>
					</div>
					<div class="post-reply">
						<div class="post ">
							<div class="post_user-image">
								<img class="absolute-img" src="images/content/memeber-post.jpg" alt="">
							</div>
							<div class="post_right-column">
								<div class="post_member-title">
									Red Pidor
									<span class="post_date">Red 2h ago</span>
								</div>
								<div class="post_description">
									t was good, could have been longer however. Not long
									enough to get off.
								</div>
								<div class="post_actions">
									<a href="" class="post_reply">
										<i class="icon-share"></i>
										Reply
									</a>
									<a href="" class="post_reply">
										<i class="icon-heart"></i>
										32 likes
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="post">
						<div class="post_user-image">
							<img class="absolute-img" src="images/content/memeber-post.jpg" alt="">
						</div>
						<div class="post_right-column">
							<div class="post_member-title">
								Red Pidor
								<span class="post_date">Red 2h ago</span>
							</div>
							<div class="post_description">
								t was good, could have been longer however. Not long
								enough to get off.
							</div>
							<div class="post_actions">
								<a href="" class="post_reply">
									<i class="icon-share"></i>
									Reply
								</a>
								<a href="" class="post_reply">
									<i class="icon-heart"></i>
									32 likes
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="comments_load-more-holder">
					<a href="#" class="comments_load-more">LOAD ALL 75 COMMENTS</a>
				</div>
				<form method="post">
					<div class="block-new-comment">
						<div class="success hidden">
							Thank you, for your comment.
						</div>
						<div class="generic-error hidden"></div>
						<div class="row row_add-comment">
							<div class="post_user-image">
								<img class="absolute-img" src="images/content/memeber-post.jpg" alt="">
							</div>
							<textarea class="textarea" id="comment_message" name="comment" rows="3" placeholder=""></textarea>
							<div class="field-error down"></div>
						</div>
						<div class="bottom">
							<input type="hidden" name="action" value="add_comment">
							<input type="hidden" name="video_id" value="116">
							<button class="button">post</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{> footer}}