<% var data = {
  title: "Channels",
  change:"",
  user:""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="main-holder">
	<div class="box">
		<div class="container">
			<div class="headline">
				<div class="title-holder">
					<h1 class="title">
						Порно студии
					</h1>
				</div>
				<div class="sort-holder">	
					<div class="sort">
						<a href="#" class="selected ">
							<span class="text">
								Больше видео
							</span>
						</a>
					</div>
					<div class="sort">
						<a href="#" class="selected ">
							<span class="text">
								По алфавиту
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="thumbs-holder channals-list">
				<div class="items-list">
					<% for(var i=1; i<13; i++) {%>
						<% 
							let title = ['Brazzers', 'Reality Kings', 'Naughty America', '21SEXTURY', 'Brazzers', 'Reality Kings', 'Naughty America', '21SEXTURY'];
							var cut = i;
							if ( cut > 8) { 
								var cut = cut-8;
							}
						 %>

						<div class="item">
							<a href="#" class="link">
								<div class="img-holder">
									<img class="img" src="img/chanal-<%=cut%>.jpg" alt="img">
								</div>
								<div class="title-item">
									<p class="title">
										<%=title[cut] %>
									</p>
									<span class="quantity">
										<i class="icon-atom"></i>
										<%=cut%><%=cut%>
									</span>	
								</div>
							</a>
						</div>
					<% } %>
				</div>
			</div>
			<%= _.template(require('./../includes/pagination.html'))(data) %>
		</div>
	</div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %> 