<% var data = {
  title: "My Video",
  change:"",
  user:""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="main-holder">
	<div class="box show">
		<div class="container">
			<div class="headline">
				<div class="title-holder">
					<h1 class="title">
						Свежее порно
					</h1>
				</div>
				<div class="sort-holder user-video">	
					<div class="sort">
						<a href="#" class="selected active">
							<i class="icon-check"></i>
							<span class="text">
								Выбрать все
							</span>
						</a>
					</div>
					<div class="sort">
						<a href="#" class="selected">
							<i class="icon-delete"></i>
							<span class="text">
								Удалить выбранные
							</span>
						</a>
					</div>
				</div>
				<div class="sort-holder">	
					<div class="sort">
						<a href="#" class="selected active">
							<span class="text">
								Избранное
							</span>
						</a>
					</div>
					<div class="sort">
						<a href="#" class="selected">
							<span class="text">
								Добавленные
							</span>
						</a>
					</div>
					<div class="sort plus-video">
						<a href="#" class="selected">
							<i class="icon-plus"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="thumbs-holder">
				<div class="panel-holder">
					<div class="panel">
						<div class="block-holder user-profile">
							<div class="avatar-holder">
								<img src="img/user-1.png" alt="user">
								<div class="icon-holder">
									<a href="#" class="edit-user">
										<i class="icon-settings"></i>
									</a>
									<a href="#" class="exit-user">
										<i class="icon-exit"></i>
									</a>
								</div>
								<span class="dots-holder js-user-dots">
									<span></span>
								</span>
							</div>
							<div class="user-info">
								<div class="user-name js-user-info">
									<span class="text">Username</span>
									<i class="icon-arrow-down"></i>
								</div>
								<div class="user-online">
									<span class="text">Online</span>
								</div>
								<div class="rating">
									(<span class="text">рейтинг</span> — <span class="color">3151</span>)
								</div>
							</div>
							<div class="info-user">
								<div class="row">
									Зарегестрирован:
									<span class="color">19 лет</span>
								</div>
								<div class="row">
									Возраст:
									<span class="color">31.10.2018</span>
								</div>
								<div class="row">
									Семейное положение:
									<span class="color">Гетеросексуал</span>
								</div>
								<div class="row">
									Ориентация:
									<span class="color">Российская Федерация</span>
								</div>
								<div class="row">
									Страна:
									<span class="color">Не женат</span>
								</div>
								<div class="row">
									Город:
									<span class="color">Уфа</span>
								</div>
								<div class="token-user js-info-holder">
									<span class="quantity">ТОКЕНЫ - 40</span>
									<div class="icon-token">
										<img src="img/token.png" alt="">
										<span class="icon js-info">?</span>
									</div>
									<div class="js-info-popup">
										Токены нельзя купить. Их можно только заработать активностью на сайте
									</div>
								</div>
							</div>
						</div>
						<div class="block-holder user-menu">
							<div class="user-item">
								<a href="#" class="link ">
									<span class="text">
										<i class="icon-user"></i>
										Обзор профиля
									</span>
								</a>
							</div>
							<div class="user-item">
								<a href="#" class="link active">
									<span class="text">
										<i class="icon-mail"></i>
										Мои сообщения
									</span>
									<span class="quantity">
										12
									</span>
								</a>
							</div>
							<div class="user-item">
								<a href="#" class="link">
									<span class="text">
										<i class="icon-friends"></i>
										Мои друзья
									</span>
									<span class="quantity">
										3
									</span>
								</a>
							</div>
							<div class="user-item">
								<a href="#" class="link">
									<span class="text">
										<i class="icon-play2"></i>
										Мои видео
									</span>
									<span class="quantity">
										54
									</span>
								</a>
							</div>
							<div class="user-item">
								<a href="#" class="link">
									<span class="text">
										<i class="icon-camera"></i>
										Мои фото
									</span>
									<span class="quantity">
										2121
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="items-list">
					<% for(var i=1; i<7; i++) {%>
						<% var data1 = {
							cut: i,
							change: "1"
						}; %>
						<%= _.template(require('./../includes/thum.html'))(data1) %>
					<% } %>
				</div>
			</div>
			<%= _.template(require('./../includes/pagination.html'))(data) %>
		</div>
	</div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %> 