<% var data = {
  title: "Search",
  change:"",
  user:""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="main-holder">
	<div class="container">
		<div class="search-page">
			<div class="box search-title">	
				<div class="headline">
					<div class="title-holder">
						<h1 class="title">
							Результаты поиска по запросу: <span class="color">	Gina Valentina</span> 
						</h1>
					</div>
				</div>
			</div>
			<div class="search-holder">	
				<div class="box models-list">
					<div class="headline">
						<div class="title-holder">
							<h1 class="title">
								Модель:
							</h1>
						</div>
					</div>
					<div class="thumbs-holder">
						<div class="items-list">
							<% for(var i=1; i<2; i++) {%>
								<% 
									let title = ['Markus Dupree aka Алексей Маетный', 'Mick Blue', 'Xander Corvus', 'Charles Dera', 'Kyle Mason', 'Gina Valentina', 'Elsa Jean', 'Johnny Sins', 'Charles Dera'];
									var cut = i;
									if ( cut > 9) { 
										var cut = cut-9;
									}
									%>
		
								<div class="item">
									<a href="#" class="link">
										<div class="img-holder">
											<img class="img" src="img/model-<%=cut%>.jpg" alt="img">
											<div class="info-holder">
												<p class="title">
													<%=title[cut] %>
												</p>
												<div class="info-model">
													<span class="quantity">
														<%=cut%><%=cut%> Видео
													</span>	
													<span class="rating">
														<%=cut%><%=cut%>%
													</span>	
												</div>
											</div>
										</div>
									</a>
								</div>
							<% } %>
						</div>
					</div>
				</div>
				<div class="box">
					<div class="headline">
						<div class="title-holder">
							<h1 class="title">
								Студии:
							</h1>
						</div>
					</div>
					<div class="thumbs-holder channals-list">
						<div class="items-list">
							<% for(var i=1; i<2; i++) {%>
								<% 
									let title = ['Brazzers', 'Reality Kings', 'Naughty America', '21SEXTURY', 'Brazzers', 'Reality Kings', 'Naughty America', '21SEXTURY'];
									var cut = i;
									if ( cut > 8) { 
										var cut = cut-8;
									}
									%>
		
								<div class="item">
									<a href="#" class="link">
										<div class="img-holder">
											<img class="img" src="img/chanal-<%=cut%>.jpg" alt="img">
										</div>
										<div class="title-item">
											<p class="title">
												<%=title[cut] %>
											</p>
											<span class="quantity">
												<i class="icon-atom"></i>
												<%=cut%><%=cut%>
											</span>	
										</div>
									</a>
								</div>
							<% } %>
						</div>
					</div>
				</div>
				<div class="box categor-holder">
					<div class="row">
						<p class="row-title">
							Категории:
						</p>
						<a href="#" class="row-item">ЗРЕЛЫЕ МИЛФЫ</a>
						<a href="#" class="row-item">БЛОНДИНКИ</a>
						<a href="#" class="row-item">БОЛЬШИЕ СИСЬКИ</a>
						<a href="#" class="row-item">БРИТАЯ ПИСЬКА</a>
						<a href="#" class="row-item">ЖЁНЫ</a>
						<a href="#" class="row-item">ИЗМЕНЫ</a>
					</div>
					<div class="row">
						<p class="row-title">
							Тэги:
						</p>
						<a href="#" class="row-item">VIXEN</a>
					</div>
				</div>
			</div>
			<div class="box albums-list">
				<div class="headline">
					<div class="title-holder">
						<h1 class="title">
							Галереи по запросу: <span class="color">Gina Valentina</span> 
						</h1>
					</div>
				</div>
				<div class="thumbs-holder">
					<div class="items-list">
						<% for(var i=1; i<3; i++) {%>
							<% 
								var cut = i;
								if ( cut > 9) { 
									var cut = cut-9;
								}
								%>
							<div class="item">
								<a href="#" class="link">
									<div class="img-holder">
										<img class="img" src="img/album-<%=cut%>.jpg" alt="img">
										<div class="info-holder">
											<p class="title">
												Gina Valentina, Lily Rader и их лесбийские игры зашли слиlooooooooooooo...
											</p>
										</div>
									</div>
									<div class="album-info">
										<div class="models-title">
											<span class="model">
												Gina Valentina, 
											</span>
											<span class="model">
												Lily Rader  
											</span>
										</div>
										<div class="info">
											<div class="item-info">
												<i class="icon-calendar"></i>
												<span class="text">
													31.10.18
												</span>
											</div>
											<div class="item-info">
												<i class="icon-eye"></i>
												<span class="text">
													674
												</span>
											</div>
											<div class="item-info">
												<i class="icon-camera"></i>
												<span class="text">
													25
												</span>
											</div>
											<div class="item-info">
												<i class="icon-star"></i>
												<span class="text">
													96%
												</span>
											</div>
											<div class="item-info">
												<i class="icon-like"></i>
												<span class="text">
													175
												</span>
											</div>
										</div>
										<div class="categor-holder">
											<div class="row">
												<p class="row-title">
													Студия:
												</p>
												<span class="row-item">VIXEN</span>
											</div>
											<div class="row">
												<p class="row-title">
													Модели на фото:
												</p>
												<span class="row-item">GINA VALENTINA</span>
												<span class="row-item">LILY RADER</span>
											</div>
										</div>
									</div>
								</a>
							</div>
						<% } %>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="headline">
					<div class="title-holder">
						<h1 class="title">
							Видео по запросу: <span class="color"> Gina Valentina</span> 
						</h1>
					</div>
				</div>
				<div class="thumbs-holder">
					<div class="items-list">
						<% for(var i=1; i<10; i++) {%>
							<% var data1 = {
								cut: i,
								change: ""
							}; %>
							<%= _.template(require('./../includes/thum.html'))(data1) %>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %> 